.mediaViewInfo {
	--web-view-name: Service  Page;
	--web-view-id: Service__Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Service__Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Service__Page {
	position: absolute;
	width: 1366px;
	height: 2456px;
	background-color: rgba(251,251,251,1);
	overflow: hidden;
	--web-view-name: Service  Page;
	--web-view-id: Service__Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#METADATA {
	display: none;
	left: 0px;
	top: -9px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Hero {
	position: absolute;
	width: 1366px;
	height: 763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_m {
	display: none;
	left: 28px;
	top: 35px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Image_ {
	position: absolute;
	width: 1366px;
	height: 763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_o {
	display: none;
	left: 28px;
	top: 33px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_ASSETheroSIZEDe {
	position: absolute;
	width: 1366px;
	height: 725px;
	left: 0px;
	top: 36px;
	overflow: visible;
}
#Rectngulo_32 {
	opacity: 0.5;
	position: absolute;
	width: 1366px;
	height: 763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Scroll_Down_TAGH6 {
	left: 303px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(61,61,61,1);
}
#Icon_ {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 263px;
	top: 599px;
	overflow: visible;
}
#METADATA_t {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherarrow-down-cir {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherarrow-down-cir {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Icon {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	overflow: visible;
}
#Path {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 0px;
	top: 0px;
}
#Path_x {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_x {
	overflow: visible;
	position: absolute;
	width: 10.829px;
	height: 6.414px;
	left: 6px;
	top: 9.97px;
	transform: matrix(1,0,0,1,0,0);
}
#Line {
	fill: transparent;
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 10px;
	left: 10px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_TAGH1 {
	left: 344px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 735px;
	height: 142px;
	line-height: 66px;
	margin-top: -5px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	color: rgba(60,60,60,1);
}
#Description_TAGUI_L {
	left: 431px;
	top: 326px;
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 48px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(61,61,61,1);
}
#Button_ {
	position: absolute;
	width: 144px;
	height: 48px;
	left: 555px;
	top: 427px;
	overflow: visible;
}
#METADATA_ {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelSIZE {
	fill: rgba(255,255,255,1);
	stroke: rgba(62,62,62,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Area_DISPLAY_ELEMENTSLabelSIZE {
	position: absolute;
	overflow: visible;
	width: 144px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Label {
	left: 27px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(62,62,62,1);
}
#Icon__ {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 108px;
	top: 14px;
	display: none;
	overflow: visible;
}
#METADATA_ba {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelICON {
	opacity: 0;
	fill: rgba(253,73,198,0.349);
}
.Area_DISPLAY_ELEMENTSLabelICON {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Icon_ba {
	position: absolute;
	width: 17.42px;
	height: 15.193px;
	left: 1.291px;
	top: 2.499px;
	overflow: visible;
}
#Path_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(62,62,62,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_ {
	overflow: visible;
	position: absolute;
	width: 19.086px;
	height: 16.86px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Button__ba {
	position: absolute;
	width: 144px;
	height: 48px;
	left: 723px;
	top: 427px;
	overflow: visible;
}
#METADATA_bb {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelSIZE_bc {
	position: absolute;
	width: 144px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Area_DISPLAY_ELEMENTSLabelSIZE_bd {
	fill: rgba(60,60,60,1);
}
.Area_DISPLAY_ELEMENTSLabelSIZE_bd {
	position: absolute;
	overflow: visible;
	width: 144px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Label_be {
	left: 41px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Icon__bf {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 108px;
	top: 14px;
	display: none;
	overflow: visible;
}
#METADATA_bg {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelICON_bh {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_DISPLAY_ELEMENTSLabelICON_bh {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Icon_bi {
	position: absolute;
	width: 17.42px;
	height: 15.193px;
	left: 1.291px;
	top: 2.499px;
	overflow: visible;
}
#Path_bj {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_bj {
	overflow: visible;
	position: absolute;
	width: 19.086px;
	height: 16.86px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Pagination {
	position: absolute;
	width: 90px;
	height: 18px;
	left: 657px;
	top: 605px;
	overflow: visible;
}
#METADATA_bl {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Item {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_bn {
	display: none;
	left: -185px;
	top: -1539px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Area {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#Dot {
	fill: rgba(62,62,62,1);
}
.Dot {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 6px;
	top: 6px;
}
#Item_bq {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 18px;
	top: 0px;
	overflow: visible;
}
#METADATA_br {
	display: none;
	left: -185px;
	top: -1539px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_bs {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Area_bs {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#Dot_bt {
	fill: rgba(204,204,204,1);
}
.Dot_bt {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 6px;
	top: 6px;
}
#Item_bu {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 36px;
	top: 0px;
	overflow: visible;
}
#METADATA_bv {
	display: none;
	left: -185px;
	top: -1539px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_bw {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Area_bw {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#Dot_bx {
	fill: rgba(204,204,204,1);
}
.Dot_bx {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 6px;
	top: 6px;
}
#Item_by {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 54px;
	top: 0px;
	overflow: visible;
}
#METADATA_bz {
	display: none;
	left: -185px;
	top: -1539px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_b {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Area_b {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#Dot_b {
	fill: rgba(204,204,204,1);
}
.Dot_b {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 6px;
	top: 6px;
}
#Item_b {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 72px;
	top: 0px;
	overflow: visible;
}
#METADATA_b {
	display: none;
	left: -185px;
	top: -1539px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ca {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Area_ca {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#Dot_ca {
	fill: rgba(204,204,204,1);
}
.Dot_ca {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 6px;
	top: 6px;
}
#Header {
	position: absolute;
	width: 1366px;
	height: 49.358px;
	left: 0px;
	top: -7.106px;
	overflow: visible;
}
#METADATA_ca {
	display: none;
	left: 0px;
	top: 7.106px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Background {
	fill: rgba(0,0,0,1);
}
.Background {
	overflow: visible;
	position: absolute;
	width: 1366px;
	height: 35.146px;
	left: 0px;
	top: 7.106px;
	transform: matrix(1,0,0,1,0,0);
}
#Tabs_d {
	position: absolute;
	width: 330.233px;
	height: 49.358px;
	left: 537.766px;
	top: 0px;
	overflow: visible;
}
#METADATA_d {
	display: none;
	left: 51.273px;
	top: 3.679px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#PLACEHOLDER_Tab_Item_d {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 243.193px;
	top: 3.679px;
	display: none;
	overflow: visible;
}
#METADATA_ea {
	display: none;
	left: 0.08px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ea {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_eb {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_ec {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_ec {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_ed {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_ed {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_ee {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__ef {
	position: absolute;
	width: 61px;
	height: 42px;
	left: 190.232px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_eg {
	display: none;
	left: 0.041px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_eh {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_ei {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_ej {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_ej {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_ek {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_ek {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_el {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__em {
	position: absolute;
	width: 51px;
	height: 42px;
	left: 62.999px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_en {
	display: none;
	left: 32.561px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_eo {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 8.342px;
	top: 0px;
	overflow: visible;
}
#METADATA_ep {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_eq {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_eq {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_er {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_er {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_es {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__cw {
	position: absolute;
	width: 52.234px;
	height: 49.358px;
	left: 125.999px;
	top: 0px;
	overflow: visible;
}
#METADATA_eu {
	display: none;
	left: -89.267px;
	top: -1.175px;
	position: absolute;
	overflow: hidden;
	width: 12.752px;
	height: 11.751819610595703px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_cy {
	position: absolute;
	width: 52.234px;
	height: 49.358px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_ew {
	display: none;
	left: 0.047px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 12.752px;
	height: 11.751819610595703px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEACTIVE {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEACTIVE {
	position: absolute;
	overflow: visible;
	width: 49.358px;
	height: 49.358px;
	left: 0px;
	top: 0px;
}
#Bar_STATEACTIVE {
	fill: rgba(62,62,62,1);
}
.Bar_STATEACTIVE {
	position: absolute;
	overflow: visible;
	width: 52.234px;
	height: 2.35px;
	left: 0px;
	top: 47.007px;
}
#Label_ez {
	left: 0px;
	top: 10.577px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(61,61,61,1);
}
#Tab_Item__e {
	position: absolute;
	width: 67px;
	height: 42px;
	left: 263.232px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_e {
	display: none;
	left: 0.041px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_e {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_fa {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_e {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_e {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_e {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_e {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_e {
	left: 5px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__fa {
	position: absolute;
	width: 56px;
	height: 42px;
	left: 0px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_fb {
	display: none;
	left: 32.561px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_fa {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 8.342px;
	top: 0px;
	overflow: visible;
}
#METADATA_fc {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_fb {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_fb {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_fc {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_fc {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_fd {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Icon__dh {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1100px;
	top: 13.106px;
	overflow: visible;
}
#METADATA_di {
	display: none;
	left: -0.379px;
	top: -0.5px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherfacebookSIZELA {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherfacebookSIZELA {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Icon_dk {
	position: absolute;
	width: 11px;
	height: 20px;
	left: 6.621px;
	top: 1.5px;
	overflow: visible;
}
#Path_dl {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_dl {
	overflow: visible;
	position: absolute;
	width: 13px;
	height: 22px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon__dm {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1148px;
	top: 13.106px;
	overflow: visible;
}
#METADATA_dn {
	display: none;
	left: -0.023px;
	top: -0.5px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeathertwitterSIZELAR {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeathertwitterSIZELAR {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Icon_dp {
	position: absolute;
	width: 22px;
	height: 17.944px;
	left: 0.977px;
	top: 2.49px;
	overflow: visible;
}
#Path_dq {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_dq {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 20.142px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon__dr {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1196px;
	top: 13.106px;
	overflow: visible;
}
#METADATA_ds {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherinstagramSIZEL {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherinstagramSIZEL {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Icon_du {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	overflow: visible;
}
#Rect {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rect {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 0px;
	top: 0px;
}
#Path_dw {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_dw {
	overflow: visible;
	position: absolute;
	width: 10.119px;
	height: 10.118px;
	left: 6.042px;
	top: 5.457px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_dx {
	fill: transparent;
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_dx {
	overflow: visible;
	position: absolute;
	width: 2.01px;
	height: 2px;
	left: 15.5px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon__dy {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1244px;
	top: 13.106px;
	overflow: visible;
}
#METADATA_dz {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherlinkedinSIZELA {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherlinkedinSIZELA {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Icon_d {
	position: absolute;
	width: 20px;
	height: 19px;
	left: 2px;
	top: 2px;
	overflow: visible;
}
#Path_d {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_d {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 15px;
	left: 8px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rect_d {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rect_d {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 14px;
	left: 0px;
	top: 7px;
}
#Path_ea {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_ea {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 0px;
	top: 0px;
}
#Enmascarar_grupo_1 {
	position: absolute;
	width: 73px;
	height: 26px;
	left: 19px;
	top: 10.106px;
	overflow: visible;
}
#Tabs_d {
	position: absolute;
	width: 330.233px;
	height: 49.358px;
	left: 537.766px;
	top: 0px;
	overflow: visible;
}
#METADATA_d {
	display: none;
	left: 51.273px;
	top: 3.679px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#PLACEHOLDER_Tab_Item_d {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 243.193px;
	top: 3.679px;
	display: none;
	overflow: visible;
}
#METADATA_ea {
	display: none;
	left: 0.08px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ea {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_eb {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_ec {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_ec {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_ed {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_ed {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_ee {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__ef {
	position: absolute;
	width: 61px;
	height: 42px;
	left: 190.232px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_eg {
	display: none;
	left: 0.041px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_eh {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_ei {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_ej {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_ej {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_ek {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_ek {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_el {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__em {
	position: absolute;
	width: 51px;
	height: 42px;
	left: 62.999px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_en {
	display: none;
	left: 32.561px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_eo {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 8.342px;
	top: 0px;
	overflow: visible;
}
#METADATA_ep {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_eq {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_eq {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_er {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_er {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_es {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__et {
	position: absolute;
	width: 52.234px;
	height: 49.358px;
	left: 125.999px;
	top: 0px;
	overflow: visible;
}
#METADATA_eu {
	display: none;
	left: -89.267px;
	top: -1.175px;
	position: absolute;
	overflow: hidden;
	width: 12.752px;
	height: 11.751819610595703px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ev {
	position: absolute;
	width: 52.234px;
	height: 49.358px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_ew {
	display: none;
	left: 0.047px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 12.752px;
	height: 11.751819610595703px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEACTIVE_ex {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEACTIVE_ex {
	position: absolute;
	overflow: visible;
	width: 49.358px;
	height: 49.358px;
	left: 0px;
	top: 0px;
}
#Bar_STATEACTIVE_ey {
	fill: rgba(62,62,62,1);
}
.Bar_STATEACTIVE_ey {
	position: absolute;
	overflow: visible;
	width: 52.234px;
	height: 2.35px;
	left: 0px;
	top: 47.007px;
}
#Label_ez {
	left: 0px;
	top: 10.577px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(61,61,61,1);
}
#Tab_Item__e {
	position: absolute;
	width: 67px;
	height: 42px;
	left: 263.232px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_e {
	display: none;
	left: 0.041px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_e {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_fa {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_e {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_e {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_e {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_e {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_e {
	left: 5px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item__fa {
	position: absolute;
	width: 56px;
	height: 42px;
	left: 0px;
	top: 3.679px;
	overflow: visible;
}
#METADATA_fb {
	display: none;
	left: 32.561px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_fa {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 8.342px;
	top: 0px;
	overflow: visible;
}
#METADATA_fc {
	display: none;
	left: 0.04px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_fb {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area_STATEDEFAULT_fb {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_fc {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar_STATEDEFAULT_fc {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_fd {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Service {
	position: absolute;
	width: 1366px;
	height: 902px;
	left: 0px;
	top: 748px;
	overflow: visible;
}
#METADATA_ff {
	display: none;
	left: -5px;
	top: -2233px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Rectangle_147673_STYLESTYLE2 {
	fill: rgba(235,235,235,1);
}
.Rectangle_147673_STYLESTYLE2 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 902px;
	left: 0px;
	top: 0px;
}
#Duis_aute_irure_dolo_STYLESTYL {
	left: 557px;
	top: 185px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -5px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(115,115,115,1);
}
#Services_we_provide_STYLESTYLE {
	left: 586px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(61,61,61,1);
}
#Service_fj {
	position: absolute;
	width: 528px;
	height: 234px;
	left: 138px;
	top: 311px;
	overflow: visible;
}
#METADATA_fk {
	display: none;
	left: -143px;
	top: -2601px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Lorem_ipsum_dolor_si_STYLESTYL {
	left: 184px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 193px;
	line-height: 26px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(115,115,115,1);
}
#Vase_of_Flowers_STYLESTYLE2TAG {
	left: 184px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(61,61,61,1);
}
#Image__fn {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_fo {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_ASSETsmallSIZET {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Read_More {
	position: absolute;
	width: 101px;
	height: 20px;
	left: 184px;
	top: 207px;
	overflow: visible;
}
#METADATA_fr {
	display: none;
	left: -328px;
	top: -2744.336px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Angle_Link_STYLESTYLE2TAGUI_S {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(61,61,61,1);
	letter-spacing: 0.3px;
}
#Icon__ft {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 81px;
	top: 0px;
	overflow: visible;
}
#METADATA_fu {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherchevron-rightS {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherchevron-rightS {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Icon_fw {
	position: absolute;
	width: 5px;
	height: 10px;
	left: 7.5px;
	top: 4.469px;
	overflow: visible;
}
#Path_fx {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_fx {
	overflow: visible;
	position: absolute;
	width: 7.012px;
	height: 12.357px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Service_fy {
	position: absolute;
	width: 528px;
	height: 226px;
	left: 716px;
	top: 311px;
	overflow: visible;
}
#METADATA_fz {
	display: none;
	left: -143px;
	top: -2601px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Lorem_ipsum_dolor_si_STYLESTYL_f {
	left: 184px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 157px;
	line-height: 26px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(115,115,115,1);
}
#Vase_of_Flowers_STYLESTYLE2TAG_f {
	left: 184px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(61,61,61,1);
}
#Image__f {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_f {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_ASSETsmallSIZET_f {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Read_More_f {
	position: absolute;
	width: 101px;
	height: 20px;
	left: 184px;
	top: 206px;
	overflow: visible;
}
#METADATA_ga {
	display: none;
	left: -328px;
	top: -2744.287px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Angle_Link_STYLESTYLE2TAGUI_S_f {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(61,61,61,1);
	letter-spacing: 0.3px;
}
#Icon__f {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 81px;
	top: 0px;
	overflow: visible;
}
#METADATA_gb {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherchevron-rightS_ga {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherchevron-rightS_ga {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Icon_gb {
	position: absolute;
	width: 5px;
	height: 10px;
	left: 7.5px;
	top: 4.517px;
	overflow: visible;
}
#Path_gc {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_gc {
	overflow: visible;
	position: absolute;
	width: 7.012px;
	height: 12.357px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Service_gd {
	position: absolute;
	width: 528px;
	height: 199px;
	left: 155px;
	top: 627px;
	overflow: visible;
}
#METADATA_ge {
	display: none;
	left: -143px;
	top: -2601px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Lorem_ipsum_dolor_si_STYLESTYL_gf {
	left: 184px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 119px;
	line-height: 26px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(115,115,115,1);
}
#Vase_of_Flowers_STYLESTYLE2TAG_gg {
	left: 184px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(61,61,61,1);
}
#Image__gh {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_gi {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_ASSETsmallSIZET_gj {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Read_More_gk {
	position: absolute;
	width: 101px;
	height: 20px;
	left: 184px;
	top: 179px;
	overflow: visible;
}
#METADATA_gl {
	display: none;
	left: -328px;
	top: -2743.125px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Angle_Link_STYLESTYLE2TAGUI_S_gm {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(61,61,61,1);
	letter-spacing: 0.3px;
}
#Icon__gn {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 81px;
	top: 0px;
	overflow: visible;
}
#METADATA_go {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherchevron-rightS_gp {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherchevron-rightS_gp {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Icon_gq {
	position: absolute;
	width: 5px;
	height: 10px;
	left: 7.5px;
	top: 5.68px;
	overflow: visible;
}
#Path_gr {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_gr {
	overflow: visible;
	position: absolute;
	width: 7.012px;
	height: 12.357px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Service_gs {
	position: absolute;
	width: 528px;
	height: 180px;
	left: 716px;
	top: 627px;
	overflow: visible;
}
#METADATA_gt {
	display: none;
	left: -143px;
	top: -2601px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Lorem_ipsum_dolor_si_STYLESTYL_gu {
	left: 184px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 104px;
	line-height: 26px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(115,115,115,1);
}
#Vase_of_Flowers_STYLESTYLE2TAG_gv {
	left: 184px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(61,61,61,1);
}
#Image__gw {
	position: absolute;
	width: 1px;
	height: 1px;
	left: -2766px;
	top: -1375px;
	overflow: visible;
}
#METADATA_gx {
	display: none;
	left: 2766px;
	top: 1375px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_ASSETsmallSIZET_gy {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Read_More_gz {
	position: absolute;
	width: 101px;
	height: 20px;
	left: 184px;
	top: 160px;
	overflow: visible;
}
#METADATA_g {
	display: none;
	left: -328px;
	top: -2743.125px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Angle_Link_STYLESTYLE2TAGUI_S_g {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(61,61,61,1);
	letter-spacing: 0.3px;
}
#Icon__g {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 81px;
	top: 0px;
	overflow: visible;
}
#METADATA_ha {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherchevron-rightS_g {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeatherchevron-rightS_g {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Icon_g {
	position: absolute;
	width: 5px;
	height: 10px;
	left: 7.5px;
	top: 5.68px;
	overflow: visible;
}
#Path_g {
	fill: rgba(0,0,0,0);
	stroke: rgba(61,61,61,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_g {
	overflow: visible;
	position: absolute;
	width: 7.012px;
	height: 12.357px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Info {
	position: absolute;
	width: 1366px;
	height: 806px;
	left: 0px;
	top: 1650px;
	overflow: visible;
}
#Trazado_105 {
	fill: rgba(235,235,235,1);
}
.Trazado_105 {
	overflow: visible;
	position: absolute;
	width: 1366px;
	height: 806px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#img2 {
	position: absolute;
	width: 306px;
	height: 536px;
	left: 114px;
	top: 197px;
	overflow: visible;
}
#img1 {
	position: absolute;
	width: 306px;
	height: 536px;
	left: 530px;
	top: 197px;
	overflow: visible;
}
#new4 {
	position: absolute;
	width: 306px;
	height: 536px;
	left: 946px;
	top: 186px;
	overflow: visible;
}
#Services_we_provide_STYLESTYLE_hc {
	left: 415px;
	top: 1694px;
	position: absolute;
	overflow: visible;
	width: 537px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(61,61,61,1);
}